<html>
<title>
    欢迎使用灰太狼的石器时代台服解锁器
</title>
<script src="http://code.jquery.com/jquery-1.8.3.min.js">
</script>
<body>
    {% for account in locked_accounts %}
    <p>
        {{ account[0] }} &nbsp;
        <span class="img_bin" style="display: hidden;"> 
            {{ account[1] }} 
        </span>
    </p>
    {% end %}
</body>
<script type="text/javascript">
function hexToBase64(str) {
    return btoa(String.fromCharCode.apply(null, str.replace(/\r|\n/g, "").replace(/([\da-fA-F]{2}) ?/g, "0x$1 ").replace(/ +$/, "").split(" ")));
}

$(document).ready(function(){
    $(".img_bin").each(function(){
        var img_bin = $(this).html();
        var img = new Image();
        img.src = "data:image/jpeg;base64," + hexToBase64(img_bin);
        $(this).html(img);
    });
});
</script>
</html>